.main{
    width: 60%;
    height: 100%;
    padding: 15px;
    display: flex;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.main .logo{
    margin:auto;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}
.main .welcome{
    margin:auto;
}
.main h1{
    font-size: 35px;
}
.main p{
    color: #2D93CA;
}
.layui-footer{
    text-align: center;
    color: red;
}